@use '../../variables' as *;
@use '../../mixins' as *;

.footer {
    background-color: #0b0b0b;
    color: $text-secondary;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.4rem;
    margin-top: auto;

    &__text {
        margin-bottom: 0.5rem;
    }

    &__legal {
        font-size: 0.75rem;
        opacity: 0.7;
    }
}