@use 'variables' as *;

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin text-gradient($start, $end) {
    background: linear-gradient(90deg, $start, $end);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}