---

---

<header class="header">
    <div class="header__inner">
        <a href="/" class="header-logo" aria-label="NFL Playoff Picture">
            <span class="header-logo__wrapper">
                <span class="header-logo__brand">NFL</span>
                <span class="header-logo__text">PLAYOFF PICTURE</span>
            </span>
        </a>

        <nav class="main-nav">
            <ul class="main-nav__list">
                <li class="main-nav__item">
                    <a href="#matchups" class="main-nav__link">Matchups</a>
                </li>
                <li class="main-nav__item">
                    <a href="#bubble" class="main-nav__link">Bubble</a>
                </li>
                <li class="main-nav__item">
                    <a href="#eliminated" class="main-nav__link">Eliminated</a>
                </li>
                <li class="main-nav__item">
                    <a href="#power-rankings" class="main-nav__link"
                        >Power Rankings</a>
                </li>
                <li class="main-nav__item">
                    <a href="#standings" class="main-nav__link">Standings</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
